<head>
  <link href="css/style.css" rel="stylesheet">

</head>
<body>

  <div id="top_navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/show_submission">Show Submission</a></li>
      <li><a href="/show_all_contacts">Display/Update Contacts</a></li>
      <li><a href="/search_contacts">Search Contacts</a></li>
    </ul>


	</div>


  <div id="main_container">

    <%=yield%>
  </div>


  <footer>
  </footer>


</body>

</body>